{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="static/css/test.css">
</head>
<body>
  <h2>static files</h2>
  <img src="static/img/pizza.jpg" width="250px">
  <img src="{% static 'img/pizza.jpg' %}" width="250px">
</body>
</html>
